{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "no-useless-constructor": 0
  },
  "globals": {
    "HTMLElement": true,
    "customElements": true
  },
  "plugins": ["security"]
}