@import 'variables';

mui-input {
  display: flex;
  flex-direction: row;
  width: 200px;
  color: #34495e;
}

mui-input input {
  width: 100%;
  padding: 7px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  box-shadow: none;
  transition: $animation_main;
}

/**
 * Placeholder colouring
 */
mui-input input::placeholder {
  color: $gray;
}

mui-input[data-type="inactive"] input {
  border: 3px solid $gray;
}

mui-input[data-type="inactive"] input:focus {
  border: 3px solid $green;
}

mui-input[data-type="success"] input {
  border: 3px solid $green;
}

// General style disabling
mui-input input:focus {
  outline: none;
}
